.hero {
    background-repeat: no-repeat;
    background-image: url("/images/hero-img.svg");
    padding: 100px;

    .hero__title {
        color: #000;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        font-size: 46px;

        .hero__active {
            color: #49BFC5;
        }
    }
}